*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.dashboard{
  min-height:100vh;

  background:
  radial-gradient(circle at top,#1b0033,#07070d 70%);

  color:white;
  padding:30px;
}

/* Navbar */

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;

  margin-bottom:50px;
}

.logo{
  font-size:28px;
  font-weight:800;
  letter-spacing:2px;
}

.logo span{
  color:#00ffff;
}

.nav-right{
  display:flex;
  gap:15px;
}

.icon{
  width:42px;
  height:42px;

  border-radius:12px;

  background:rgba(255,255,255,.08);

  display:flex;
  justify-content:center;
  align-items:center;

  backdrop-filter:blur(15px);

  cursor:pointer;

  transition:.3s;
}

.icon:hover{
  background:#8b5cf6;
}

/* Hero */

.hero{

text-align:center;

margin-bottom:50px;

}

.hero h1{

font-size:52px;

margin-bottom:15px;

}

.hero p{

color:#aaaaaa;

margin-bottom:35px;

}

/* Search */

.search-box{

display:flex;

justify-content:center;

gap:15px;

}

.search-box input{

width:600px;

padding:18px;

border:none;

outline:none;

border-radius:15px;

background:rgba(255,255,255,.08);

color:white;

font-size:16px;

backdrop-filter:blur(15px);

}

.search-box button{

padding:18px 30px;

border:none;

border-radius:15px;

background:linear-gradient(
90deg,
#8b5cf6,
#00ffff
);

font-weight:bold;

cursor:pointer;

}

/* Cards */

.grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:30px;

margin-top:50px;

}

.card{

background:rgba(255,255,255,.07);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.1);

padding:30px;

border-radius:25px;

box-shadow:0 0 20px rgba(0,255,255,.08);

}

.card h2{

margin-bottom:20px;

}

.placeholder{

height:250px;

display:flex;

justify-content:center;

align-items:center;

color:#888;

border:2px dashed rgba(255,255,255,.1);

border-radius:20px;

}
