.navbar{

display:flex;

justify-content:space-between;

align-items:center;

}

.logo{

font-family:"Space Grotesk";

font-size:28px;

font-weight:700;

letter-spacing:1px;

}

.logo span{

background:linear-gradient(90deg,#8B5CF6,#22D3EE);

-webkit-background-clip:text;

color:transparent;

}

.nav-right{

display:flex;

align-items:center;

gap:16px;

}

.nav-right button{

background:transparent;

border:none;

color:#d4d4d8;

font-size:15px;

cursor:pointer;

transition:.3s;

}

.nav-right button:hover{

color:white;

}

.avatar{

width:42px;

height:42px;

border-radius:50%;

background:#1c1c28;

display:flex;

justify-content:center;

align-items:center;

font-weight:600;

}
